.contactForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contactForm label {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    font-size: .7rem;
}

.contactForm label .inputWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--border-color);
    padding: 0.3rem;
}

.contactForm label .inputWrapper input,
.contactForm label .inputWrapper textarea {
    outline: none;
    border: none;
    border-radius: 0;
    font-size: 1rem;
    width: 92%;
}

.contactForm label .inputWrapper textarea {
    align-self: flex-start;
}

.contactForm label .inputWrapper .labelIcon {
    width: 8%;
    padding-left: .5rem;
    border-left: 1px solid var(--border-color);
}

.contactForm label .inputWrapper .labelIcon i {
    color: var(--border-color);
}

.submitedMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.submitedMessage i {
    font-size: 4rem;
    color: var(--success-color);
}

@media screen and (min-width: 768px) {

    .contactForm label .inputWrapper input,
    .contactForm label .inputWrapper textarea {
        width: 95%;
    }

    .contactForm label .inputWrapper .labelIcon {
        width: 5%;
    }
}

@media screen and (min-width: 992px) {

    .contactForm label .inputWrapper input,
    .contactForm label .inputWrapper textarea {
        width: 97%;
    }

    .contactForm label .inputWrapper .labelIcon {
        width: 3%;
    }
}

@media screen and (min-width: 1200px) {
    .submitedMessage {
        gap: 3rem;
        padding: 3rem 0;
    }

    .contactForm label .inputWrapper {
        padding: 0.3rem 0.7rem;
    }

    .contactForm label .inputWrapper input,
    .contactForm label .inputWrapper textarea {
        width: 97%;
    }

    .contactForm label .inputWrapper .labelIcon {
        width: 3%;
    }
}