.icon {
    min-width: 4rem;
    min-height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-text);
    cursor: pointer;
    transition: all ease-in-out 1s;
}

.icon:hover {
    background-color: var(--primary-color);
    transform: rotate(360deg);
}

.icon i {
    font-size: 2rem;
    color: var(--light-text);
}